<?xml version='1.1' encoding='UTF-8'?>
<user>
  <version>10</version>
  <id>jeremy.elkaim</id>
  <fullName>jeremy.elkaim</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <tokenStore>
        <tokenList/>
      </tokenStore>
    </jenkins.security.ApiTokenProperty>
    <io.jenkins.blueocean.autofavorite.user.FavoritingUserProperty plugin="blueocean-autofavorite@1.2.5">
      <autofavoriteEnabled>true</autofavoriteEnabled>
    </io.jenkins.blueocean.autofavorite.user.FavoritingUserProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@1074.v60e6c29b_b_44b_">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty plugin="email-ext@2.87">
      <triggers/>
    </hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty>
    <hudson.plugins.favorite.user.FavoriteUserProperty plugin="favorite@2.3.3">
      <data class="concurrent-hash-map">
        <entry>
          <string>pegasus-refonte/pegasus-back/bugfix%2FSIP-628-back-delete-user-for-all-routes</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-615-create-edit-user-modification-jing</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-633%2FSIP-655-back-modify-reporter-new</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/feature%2FSIP-469-back-front-5-delete-multi-users</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/feature%2FSIP-564-sms-for-mobile</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-633%2FSIP-655-back-modify-reporter-again</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/bugfix%2FSIP-600-front-affichage-d-un-utilisateur-azure</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/feature%2FSIP-615%2FSIP-639-front-add-champs-nom-prenom-dans-formulaire</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/develop-bis</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/bugfix%2FSIP-554-front-corriger-la-recherche-azureuser-residuel</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-635-stocker-les-utilisateurs-jira-dans-redis</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-615%2FSIP-649-front-back-add-columns-in-azure_columns</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-615%2FSIP-639-front-back-add-champs-nom-prenom-dans-formulaire</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/bugfix%2FSIP-509-front-correction-couleur-admin</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/bugfix%2FSIP-646-intune-device-search-cypress-test</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/feature%2FSIP-615%2FSIP-638-delete-disable-champs-sur-formulaire</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/feature%2FSIP-634-back-front-13-add-del-licence-jira-confluence</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-604-back-lister-un-appareil-jira</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-631%2FSIP-635-back-jira-users</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-469-back-front-5-delete-multi-users</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/bugfix%2FSIP-651-back-crash-test-createuser</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/bugfix%2FSIP-479-front-liste-de-bugs</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/feature%2FSIP-532-front-selection-mode-mobile</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/feature%2FSIP-633%2FSIP-655-front-modify-reporter</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/hotfix%2FSIP-511-front-correction-form-login</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/feature%2FSIP-615-create-edit-user-modification-jing</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/feature%2FSIP-633%2FSIP-670-tests-cypress-des-features-ajouter</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-631-back-jira-confluence-get-user-group</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/feature%2FSIP-615%2FSIP-640-front-add-champs-usagelocation-dans-formulaire</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/bugfix%2FSIP-667-front-fix-autocomplete-intune-device</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-615%2FSIP-640-back-add-champs-usagelocation-dans-formulaire</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/feature%2FSIP-438-regestion-admin-acces-sidebar</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/feature%2FSIP-615%2FSIP-649-front-back-add-columns-in-azure_columns</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-543-back-route-api-get-les-logs</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-541-back-sauvegarder-dans-redis-les-actions-licenses</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/feature%2FSIP-634-back-front-12-add-del-licence-jira-confluence</string>
          <boolean>true</boolean>
        </entry>
      </data>
    </hudson.plugins.favorite.user.FavoriteUserProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>all</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty plugin="display-url-api@2.3.5">
      <providerId>default</providerId>
    </org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <jenkins.security.seed.UserSeedProperty>
      <seed>1fdaf84046ffedf5</seed>
    </jenkins.security.seed.UserSeedProperty>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>true</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <jenkins.plugins.slack.user.SlackUserProperty plugin="slack@602.v0da_f7458945d">
      <disableNotifications>false</disableNotifications>
    </jenkins.plugins.slack.user.SlackUserProperty>
    <hudson.model.TimeZoneProperty/>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@408.vd726a_1130320">
      <emailAddress>jeremy.elkaim@acensi.fr</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>