<?xml version='1.1' encoding='UTF-8'?>
<user>
  <version>10</version>
  <id>thomas.parance</id>
  <fullName>thomas.parance</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <tokenStore>
        <tokenList/>
      </tokenStore>
    </jenkins.security.ApiTokenProperty>
    <io.jenkins.blueocean.autofavorite.user.FavoritingUserProperty plugin="blueocean-autofavorite@1.2.5">
      <autofavoriteEnabled>true</autofavoriteEnabled>
    </io.jenkins.blueocean.autofavorite.user.FavoritingUserProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@1074.v60e6c29b_b_44b_">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty plugin="email-ext@2.87">
      <triggers/>
    </hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty>
    <hudson.plugins.favorite.user.FavoriteUserProperty plugin="favorite@2.3.3">
      <data class="concurrent-hash-map">
        <entry>
          <string>pegasus-refonte/pegasus-front/feature%2FSIP-297-front-tableau-largeur</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-front/feature%2FSIP-320-front-test-middleware</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-437-del-fond-gris</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/bugfix%2FSIP-530-front-bug-sidebar</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/SIP-560-script-ajouter-un-readme-d-installation-et-lancement</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/bugfix%2FSIP-539-pas-de-messge-d-erreur-si-colonne-not-editable</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/feature%2FSIP-320-front-test-middleware</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-349-back-test-coverage</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/feature%2FSIP-540-test-translations-and-palette</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-front/feature%2FSIP-297-front-tableau-largeur</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-299%2FSIP-318-create-du-socket</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/feature%2FSIP-295-front-back-search-user</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/bugfix%2FSIP-472-back-query-recuperation-des-conversations-bug</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/bugfix%2FSIP-534-back-edit-user</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/feature%2FSIP-440-sms-rechercher-creer-conversation</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-548-back-assign-manager</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-front/feature%2FSIP-254-front-traduction-auto-avec-i18n</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-430-back-3-account-disabled</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-front/bugfix%2FSIP-317-fix-tu-use-back-container</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-607-fix-some-small-syntax</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-463-back</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-450-back-reactivate-azure-user</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-front/feature%2FSIP-339-front-search-azure-user-natif</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-442%2FSIP-495-check-domain-action</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-464-test-route-batch</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-front/feature%2FSIP-356-fichier-conf-adminboard</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/bugfix%2FSIP-545-front-correction-bug-affichage-helpertext</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-358-test-utiliser-des-valeurs-mock-plus-realiste</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-438%2FSIP-452-back-seeders-admin</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/feature%2FSIP-354-transformer-la-popup-edituser</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/feature%2FSIP-456-disapear-subsumenu-and-button-by-permissions</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-370-implementation-de-intune</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/feature%2FSIP-430-front-3-account-disabled</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-299%2FSIP-300-back-AD-users-routes-services</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/bugfix%2FSIP-472-back-query-recuperation-des-conversations-bug</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/feature%2FSIP-409-pegasus-contrast</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-470%2FSIP-478-attribution-d-une-des-licences-a-un-utilisateur</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/feature%2FSIP-470%2FSIP-471-affichage-de-toutes-les-licences</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/bugfix%2FSIP-483-front-grisage-du-bouton-activer</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/feature%2FSIP-438%2FSIP-461-change-names-routes</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/feature%2FSIP-438%2FSIP-456-disapear-subsumenu-by-permissions</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/bugfix%2FSIP-542-front-bug-test-cypress-date</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/feature%2FDD-16-CI-CD</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/feature%2FSIP-306-front-search-user</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-459-back-regex-create-update-azure-user</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/feature%2FSIP-438-gestion-admin-acces-sidebar</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/bugfix%2FSIP-535-front-provider-list</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/bugfix%2FSIP-485-front-fix-chat-qui-ne-va-pas-en-bas</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-578-back-ajouter-la-date-et-l-heure-par-notification-en-utc</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-438%2FSIP-453-del-is_superuser-is_staff-is_admin-active</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-front/feature%2FSIP-354-transformer-la-popup-edituser</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-444-back-regex-create-update-azure-user</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-470-gestion-des-licences-d-azuread</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-355-adminpopup-setuser-in-back</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-front/feature%2FSIP-298-front-update-sidebar</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/feature%2FSIP-370-implementation-de-intune</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/feature%2FSIP-299%2FSIP-324-front-clear-usersazure-of-cache</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-345-back-save-role-adminpegasus-in-bdd</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/SIP-431-back-recuperer-la-liste-des-appareils</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-442%2FSIP-494-conf-file</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-550-back-employeeId-property</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/feature%2FSIP-470-gestion-des-licences-d-azuread</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-front/feature%2FSIP-231-front-css-template</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-front/feature%2FSIP-299%2FSIP-319-front-creation-du-socket</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/feature%2FSIP-369-desgin-login</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/feature%2FSIP-338-front-URL-id-user</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-front/feature%2FSIP-299%2FSIP-324-front-clear-usersazure-of-cache</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/bugfix%2FSIP-534-front-edit-user</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-468-afficher-les-licences-disponibles</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/bugfix%2FSIP-602%2FSIP-647-back-changement-schema-retour-create-user</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-front/feature%2FSIP-306-front-search-user</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-409-pegasus-contrast-latest</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-442-multi-annex</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-293-back-modifications-admin</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/feature%2FSIP-299%2FSIP-319-front-creation-du-socket</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-442%2FSIP-593-back-check-domain-for-user-with-socket</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-438-gestion-admin-acces-sidebar</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-480-azure-user-prop-businessphones</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/bugfix%2FSIP-373-fix-azurecoumns-scheam</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-428-back-8-tableau-design</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-front/bugfix%2FSIP-302-listeuser-pegasus-page</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-front/feature%2FSIP-271-front-add-script-coverage-jest</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-359-back-schema-des-routes</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/bugfix%2FSIP-317-fix-tu-use-back-container</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-463%2FSIP-464-back-test-route-batch</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/feature%2FSIP-866%2FSIP-888-back-front-fix-dependances-acensi</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/SIP-464-back-test-route-batch</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/feature%2FSIP-322-front-fusion-user-profile</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/feature%2FSIP-299%2FSIP-301-system-page-azures</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/bugfix%2FSIP-481-front-azure-user-discard-error</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/feature%2FSIP-469-back-front-5-delete-multi-users-1</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-299%2FSIP-325-back-clear-usersazure-cache-redis</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-front/feature%2FSIP-350-front-slipt-style-in-file</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/feature%2FSIP-489-front-back-recuperation-et-affichage-dans-un-select-pour-creation-azure-user</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/bugfix%2FSIP-602-back-front-utilisateur-azure-verification-des-schemas</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-441-gestion-des-lu-non-lu-et-is_tiping-pour-les-sms</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-438%2FSIP-455-back-add-middleware-admin</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/feature%2FSIP-438%2FSIP-454-get-all-permissions-user-connected</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/feature%2FSIP-356-fichier-conf-adminboard</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-344-back-creation-tables</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-front/feature%2FSIP-352-front-redux-selector-getazurecolumns</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/feature%2FSIP-252-tu-and-tf</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/feature%2FSIP-352-front-redux-selector-getazurecolumns</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-front/feature%2FSIP-322-front-fusion-user-profile</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/SIP-370%2FSIP-458-affciher-la-cle-bit-locker</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/feature%2FSIP-440-sms-rechercher-creer-une-conversation</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/feature%2FSIP-298-front-update-sidebar</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-457-recuperation-cle-bitlocker</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-366-back-modification-du-script-add-user.js</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/feature%2FSIP-351-front-collapse-useredit</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-362-changer-le-nom-de-la-routes-users-login</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-470%2FSIP-471-affichage-de-toutes-les-licences</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-295-front-back-search-user</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/feature%2FSIP-438%2FSIP-453-del-is_superuser-is_staff-is_admin-active</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/feature%2FSIP-350-front-slipt-style-in-file</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-front/feature%2FSIP-351-front-collapse-useredit</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/feature%2FSIP-474-front-language-error-handling</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/feature%2FSIP-444-front-regex-create-update-azure-user</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-front/feature%2FSIP-299-AD-users-page-system</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/feature%2FSIP-451-front-reactivate-azure-user</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/bugfix%2FSIP-533-front-bug-click-3eme-utilisateut</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-615%2FSIP-638-delete-disable-champs-sur-formulaire</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/SIP-339-front-search-azur-user-natif</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/feature%2FSIP-443-back-front-3-changement-de-mdp</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/feature%2FSIP-438%2FSIP-456-disapear-subsumenu-by-perms</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-566-front-back-8-add-date-heure-for-notifications-licenses</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-front/feature%2FSIP-299%2FSIP-301-system-page-azures</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-front/feature%2FSIP-338-front-URL-id-user</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/feature%2FSIP-437-del-fond-gris</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-front/feature%2FDD-16-CI-CD</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-442%2FSIP-575-back-add-idgroup</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-front/feature%2FSIP-295-front-back-search-user</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/feature%2FSIP-436-front-3-add-link-resetpassword</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-front/feature%2FSIP-299%2FSIP-325-back-clear-usersazure-cache-redis</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-431-back-get-list-devices</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/bugfix%2FSIP-542-front-bug-test-cypress-date</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/feature%2FSIP-470%2FSIP-487-ajouter-remove-une-licence-a-un-utilisateur-page-user</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-361-back-mettre-en-place-logger</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-438%2FSIP-454-get-all-permissions-user-connected</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/bugfix%2FSIP-537-couleur-connection-en-rouge</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-548-assign-manager</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-546-creation-script-ajout-auth_group-auth_permission</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-866%2FSIP-888-back-front-fix-dependances-acensi</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/feature%2FSIP-339-front-search-azure-user-natif</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/bugfix%2FSIP-482-front-azure-user-popup-de-modification-qui-disparait-apres-reception-d-une-erreur</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-443-back-front-3-changement-de-mdp</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/feature%2FSIP-441-front-back-3-gestion-des-lu-non-lu-et-is_tiping-pour-les-sms</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/feature%2FSIP-299-AD-users-page-system</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-front/feature%2Ffeature%2FSIP-339-front-search-azure-user-redux</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/feature%2FSIP-441-gestion-des-lu-non-lu-et-is_tiping-pour-les-sms</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-front/SIP-339-front-search-azure-user-redux</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-front/SIP-339-front-search-azur-user-natif</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/feature%2FSIP-470%2FSIP-478-attribution-d-une-des-licences-a-un-utilisateur</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/feature%2FSIP-460-front-regex-create-update-azure-user</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-518-back-front-8-logs-success-error-licences</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/SIP-339-front-search-azure-user-redux</string>
          <boolean>true</boolean>
        </entry>
      </data>
    </hudson.plugins.favorite.user.FavoriteUserProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>all</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty plugin="display-url-api@2.3.5">
      <providerId>default</providerId>
    </org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <jenkins.security.seed.UserSeedProperty>
      <seed>f08fededb34559b9</seed>
    </jenkins.security.seed.UserSeedProperty>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>true</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <jenkins.plugins.slack.user.SlackUserProperty plugin="slack@602.v0da_f7458945d">
      <disableNotifications>false</disableNotifications>
    </jenkins.plugins.slack.user.SlackUserProperty>
    <hudson.model.TimeZoneProperty/>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@408.vd726a_1130320">
      <emailAddress>thomas.parance@acensi.fr</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>