<?xml version='1.1' encoding='UTF-8'?>
<user>
  <version>10</version>
  <id>clement.xu</id>
  <fullName>clement.xu</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <tokenStore>
        <tokenList/>
      </tokenStore>
    </jenkins.security.ApiTokenProperty>
    <io.jenkins.blueocean.autofavorite.user.FavoritingUserProperty plugin="blueocean-autofavorite@1.2.5">
      <autofavoriteEnabled>true</autofavoriteEnabled>
    </io.jenkins.blueocean.autofavorite.user.FavoritingUserProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@1074.v60e6c29b_b_44b_">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty plugin="email-ext@2.87">
      <triggers/>
    </hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty>
    <hudson.plugins.favorite.user.FavoriteUserProperty plugin="favorite@2.3.3">
      <data class="concurrent-hash-map">
        <entry>
          <string>pegasus-refonte/pegasus-front/feature%2FSIP-805-back-front-5-tester-unitaires</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/feature%2FSIP-850-front-integrer-la-maquette-de-la-liste-de-conversation</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>Acenstream/acenstream-front/bugfix%2FCSFRD-684-eu-bug-exports-csv</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/feature%2FSIP-817-front-3-layout-new-model</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>Acenstream/acenstream-back/feature%2FDDBOOM-413-switch-des-comptes-local-azure</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/feature%2FSIP-810%2FSIP-812-back-front-add-del-groups-of-users-jira</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>Acenstream/acenstream-back/bugfix%2FDDBOOM-486-back-suppression-media-attache-a-un-evenement</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>Acenstream/acenstream-back/bugfix%2FDDBOOM-420-acenstream-enlever-la-permission-read-api-key-page-au-role-consultant</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/bugfix%2FSIP-719%2FSIP-803-bug-licenses</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/bugfix%2FSIP-834-back-bug-sms-2</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/bugfix%2FSIP-775%2FSIP-814-provider-config-edited</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>Acenstream/acenstream-back/bugfix%2FDDBOOM-483-acenstream-bug-sur-les-labels-lors-de-l-ajout-d-un-media</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/feature%2FSIP-810-back-front-add-delete-group-jira</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/bugfix%2FSIP-830-back-front-delete-encrypt-key-in-front</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>Acenstream/acenstream-front/bugfix%2FDDBOOM-487-front-bug-scroll-vertical-menu-et-decalage</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/bugfix%2FSIP-836-front-3-login-comportement-e-learning-a-reproduire</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>Acenstream/acenstream-back/feature%2FDDBOOM-411-configuration-de-la-production</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>Acenstream/acenstream-back/bugfix%2FDDBOOM-448-player-empecher-l-acces-au-port-des-logs-depuis-n-importe-quel-ip</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>Acenstream/acenstream-back/bugfix%2FDDBOOM-450-fix-features</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>Acenstream/acenstream-back/DDBOOM-457-fix-nom-de-domaine-entier-et-add_provider-script</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-719%2FSIP-705-back-front-optimiser-le-redux-socket</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/bugfix%2FSIP-832-back-fix-route</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-849%2FSIP-858</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/feature%2FSIP-807-back-front-jest-linter-coverage</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/feature%2FSIP-1044-FRONT-rendre-parametrable-nom-affiche-de-l-application-et-logo</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/bugfix%2FSIP-719%2FSIP-772-back-rectification-de-la-fonction-gettorediskey</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>Acenstream/acenstream-back/DDBOOM-447-back-stock-azure-credentials</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/bugfix%2FSIP-790%2FSIP-792-front-desactiver-les-redirections</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/feature%2FSIP-806-front-tests-fonctionnel</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-719%2FSIP-785-back-test-sur-les-middleware</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/bugfix%2FSIP-766-front-socket-gerer-les-cas-de-redicrections-vers-page-403-404-400</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/bugfix%2FSIP-862-front-1-disable-refresh--button-mobile</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>Acenstream/acenstream-back/feature%2FDDBOOM-434-acenstream-gestion-des-equipements-et-playlist-en-fonction-du-tenant</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/bugfix%2FSIP-829-front-2-wording-fichiers-de-traduction-a-corriger</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>Acenstream/acenstream-back/feature%2FDDBOOM-452-middleware-pour-getmediadata-qui-verifie-l-acces-a-l-image</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/SIP-849</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/bugfix%2FSIP-719%2FSIP-749-front-back-azure-column-bug</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>Acenstream/acenstream-back/feature%2FDDBOOM-460-acenstream-set-une-progress-bar-pour-l-upload-de-medias</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>Acenstream/acenstream-back/feature%2FDDBOOM-462-cron-pour-delete-les-anciens-token-user</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>Acenstream/acenstream-front/bugfix%2FDDBOOM-486-front-suppression-media-attache-a-un-evenement</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>Acenstream/acenstream-front/bugfix%2FDDBOOM-450-fix-features</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>Acenstream/acenstream-front/feature%2FDDBOOM-361-nettoyer-le-dossier-local</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-828-back-front-5-page-profile</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>Acenstream/acenstream-front/feature%2FDDBOOM-411-configuration-de-la-production</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>Acenstream/acenstream-front/bugfix%2FDDBOOM-485-fix-l-affichage-du-type-de-diffusion-sur-la-page-device</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/bugfix%2FSIP-775-back-sub-domains-devices-intune</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/bugfix%2FSIP-775-back-get-intune--device-by-subdomain</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-820-front-back-8-recuperation-intune-device-par-page-via-socket</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/bugfix%2FSIP-775%2FSIP-813-front-get-devices-by-group</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-790%2FSIP-795-back-suppresion-des-logs-inutile</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/feature%2FSIP-810%2FSIP-811-back-front-get-les-groupes-jira</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-719%2FSIP-705-back-front-redux-socket-optimized</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>Acenstream/acenstream-front/bugfix%2FDDBOOM-371-acenstream-fix-sur-l-utilisation-de-displayduration-duration-dans-les-medias-d-une</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/release-test</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>Acenstream/acenstream-back/feature%2FDDBOOM-479-gestion-des-evenements-passes</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/bugfix%2FSIP-775%2FSIP-813-back-get-devices-by-group</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>Acenstream/acenstream-front/feature%2FDDBOOM-413-switch-des-comptes-local-azure</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/bugfix%2FSIP-775-front-intune-device-by-filial</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/bugfix%2FSIP-790%2FSIP-793-back-delete-ldap-plugins</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/bugfix%2FSIP-836-front-back-3-login-comportement-e-learning-a-reproduire</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/SIP-851-front-integrer-la-maquette-d-une-conversation</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/feature%2FSIP-715-front-refacto-table-to-datatable</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/release</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>Acenstream/acenstream-back/bugfix%2FDDBOOM-415-couper-la-diffusion-lorsque-le-player-est-en-standby</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>Acenstream/acenstream-back/bugfix%2FDDBOOM-400-arreter-la-diffusion-quand-le-player-est-en-standby</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-705%2FSIP-799-back-front-gerer-le-cas-des-nouveaux-messages</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>Acenstream/acenstream-front/feature%2FDDBOOM-460-acenstream-set-une-progress-bar-pour-l-upload-de-medias</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-805-back-front-tester-unitaires</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>Acenstream/acenstream-front/DDBOOM-447-back-stock-azure-credentials</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/bugfix%2FSIP-830-back-front-delete-encrypt-key-in-front</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/bugfix%2FSIP-838-front-3-element-de-loading-a-corriger</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/feature%2FSIP-820-front-back-8-recuperation-intune-device-par-page-via-socket</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/bugfix%2FSIP-826-front-fix-l-affichage-des-device-jira</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>Acenstream/acenstream-back/feature%2FDDBOOM-361-nettoyer-le-dossier-local</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>Acenstream/acenstream-back/bugfix%2FDDBOOM-461-bug-lie-au-multi-tenant</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>Acenstream/acenstream-front/Design%2FDDBOOM-374-front-maj-du-design-de-la-sidebar-et-maj-de-la-police</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>Acenstream/acenstream-back/feature%2FDDBOOM-453-back-ajouter-les-elements-necessaire-a-un-tenant</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/bugfix%2FSIP-766-front-5-redirect-error</string>
          <boolean>true</boolean>
        </entry>
      </data>
    </hudson.plugins.favorite.user.FavoriteUserProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>all</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty plugin="display-url-api@2.3.5">
      <providerId>default</providerId>
    </org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <jenkins.security.seed.UserSeedProperty>
      <seed>23a9764763a8f75d</seed>
    </jenkins.security.seed.UserSeedProperty>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>true</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <jenkins.plugins.slack.user.SlackUserProperty plugin="slack@602.v0da_f7458945d">
      <disableNotifications>false</disableNotifications>
    </jenkins.plugins.slack.user.SlackUserProperty>
    <hudson.model.TimeZoneProperty/>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@408.vd726a_1130320">
      <emailAddress>clement.xu@acensi.fr</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>