<?xml version='1.1' encoding='UTF-8'?>
<user>
  <version>10</version>
  <id>kamilia.melkaoui</id>
  <fullName>kamilia.melkaoui</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <tokenStore>
        <tokenList/>
      </tokenStore>
    </jenkins.security.ApiTokenProperty>
    <io.jenkins.blueocean.autofavorite.user.FavoritingUserProperty plugin="blueocean-autofavorite@1.2.5">
      <autofavoriteEnabled>true</autofavoriteEnabled>
    </io.jenkins.blueocean.autofavorite.user.FavoritingUserProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@1074.v60e6c29b_b_44b_">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty plugin="email-ext@2.87">
      <triggers/>
    </hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty>
    <hudson.plugins.favorite.user.FavoriteUserProperty plugin="favorite@2.3.3">
      <data class="concurrent-hash-map">
        <entry>
          <string>CLI - SFR Étiquette unifiée/etiquette-unifiee-front/feature%2FCSFRD-1113-demo-list-buttons</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>CLI - SFR Étiquette unifiée/etiquette-unifiee-front/feature%2FCSFRD-1106-intermediate-branch-to-keep-signle-print-running</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>CLI - SFR Étiquette unifiée/etiquette-unifiee-front/master</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>CLI - SFR Étiquette unifiée/etiquette-unifiee-back/release%2F2.0.0</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>CLI - SFR Étiquette unifiée/etiquette-unifiee-back/hotfix%2FCSFRD-1046-token-unique-index</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>CLI - SFR Étiquette unifiée/etiquette-unifiee-front/release%2F1.0.0</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>CLI - SFR Étiquette unifiée/etiquette-unifiee-front/feature%2FCSFRD-1106-demo-label-multiple-printing</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>CLI - SFR Étiquette unifiée/etiquette-unifiee-back/feature%2FCSFRD-1106-demo-label-multiple-printing</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>CLI - SFR Étiquette unifiée/etiquette-unifiee-front/feature%2FCSFRD-1108-discount-demo</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>CLI - SFR Étiquette unifiée/etiquette-unifiee-back/hotfix%2FCSFRD-1043-updating-backend-components</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>CLI - SFR Étiquette unifiée/etiquette-unifiee-back/feature%2FCSFRD-1013-template-demo</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>CLI - SFR Étiquette unifiée/etiquette-unifiee-front/feature%2FCSFRD-1108-eu-accessoire-demo-popup-remises</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>CLI - SFR Étiquette unifiée/etiquette-unifiee-front/feature%2FCSFRD-1099-eu-searchBar-labelsDemo</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>CLI - SFR Étiquette unifiée/etiquette-unifiee-back/hotfix%2FCSFRD-1045-update-database-config-file</string>
          <boolean>true</boolean>
        </entry>
      </data>
    </hudson.plugins.favorite.user.FavoriteUserProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>all</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty plugin="display-url-api@2.3.5">
      <providerId>default</providerId>
    </org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <jenkins.security.seed.UserSeedProperty>
      <seed>047e27c1b9613110</seed>
    </jenkins.security.seed.UserSeedProperty>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>true</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <jenkins.plugins.slack.user.SlackUserProperty plugin="slack@602.v0da_f7458945d">
      <disableNotifications>false</disableNotifications>
    </jenkins.plugins.slack.user.SlackUserProperty>
    <hudson.model.TimeZoneProperty/>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@408.vd726a_1130320">
      <emailAddress>kamilia.melkaoui@acensi.fr</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>