<?xml version='1.1' encoding='UTF-8'?>
<user>
  <version>10</version>
  <id>jean_devera</id>
  <fullName>Jean DE VERA</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <tokenStore>
        <tokenList/>
      </tokenStore>
    </jenkins.security.ApiTokenProperty>
    <io.jenkins.blueocean.autofavorite.user.FavoritingUserProperty plugin="blueocean-autofavorite@1.2.5">
      <autofavoriteEnabled>true</autofavoriteEnabled>
    </io.jenkins.blueocean.autofavorite.user.FavoritingUserProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@1074.v60e6c29b_b_44b_">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty plugin="email-ext@2.87">
      <triggers/>
    </hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty>
    <hudson.plugins.favorite.user.FavoriteUserProperty plugin="favorite@2.3.3">
      <data class="concurrent-hash-map">
        <entry>
          <string>Acenstream/acenstream-front/master</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>Acenstream/acenstream-front/feature%2FDDBOOM-435-acenstream-documentation-de-la-charte-graphique</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>Acenstream/acenstream-front/DDBOOM-514-pna-front-end-raphael</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>Acenstream/acenstream-back/feature%2FDDBOOM-518-test-back-controller</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>Acenstream/acenstream-front/DDBOOM-510-pna-front-end</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>CLI - SFR Étiquette unifiée/etiquette-unifiee-front/feature%2FCSFRD-1107-eu-selectLabelsDemo-Bar-with-actions-icons</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>Acenstream/acenstream-front/bugfix%2FDDBOOM-502-ajouter-les-traductions-sur-la-modal-d-ajout-d-un-media</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>Acenstream/acenstream-front/feature%2FDDBOOM-516-acenstream-changer-l-affichage-des-dates-heures-en-format-fr</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>Acenstream/acenstream-front/DDBOOM-517-acenstream-amelioration-de-la-page-appareil</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>Acenstream/acenstream-back/DDBOOM-511-pna-back-end</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>Acenstream/acenstream-front/bugfix%2FDDBOOM-499-suppression-event-lors-de-la-suppression-d-un-device</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>Acenstream/acenstream-front/DDBOOM-392-front-mise-a-jour-visuelle-de-la-page-d-informations-des-devices</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>Acenstream/acenstream-back/DDBOOM-515-pna-back-end-raphael</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>Acenstream/acenstream-back/bugfix%2FDDBOOM-499-suppression-event-lors-de-la-suppression-d-un-device</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>Acenstream/acenstream-back/bugfix%2FDDBOOM-496-back-fix-erreur-lie-au-mutli-tenant</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>CLI - SFR Étiquette unifiée/etiquette-unifiee-front/feature%2FCSFRD-1117-eu-retours-ws19-detail-remise-edition-ajout-etiquette-demo</string>
          <boolean>true</boolean>
        </entry>
      </data>
    </hudson.plugins.favorite.user.FavoriteUserProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>all</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty plugin="display-url-api@2.3.5">
      <providerId>default</providerId>
    </org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <jenkins.security.seed.UserSeedProperty>
      <seed>aa864e37718c4dd4</seed>
    </jenkins.security.seed.UserSeedProperty>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>true</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <jenkins.plugins.slack.user.SlackUserProperty plugin="slack@602.v0da_f7458945d">
      <disableNotifications>false</disableNotifications>
    </jenkins.plugins.slack.user.SlackUserProperty>
    <hudson.model.TimeZoneProperty/>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>#jbcrypt:$2a$10$sYon7wrt/edHor2dV811dub6cb.R6vWEunjH5WE3eDj6QcbNOJLNG</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@408.vd726a_1130320">
      <emailAddress>jean.devera@acensi.fr</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <jenkins.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string>authenticated</string>
      </roles>
      <timestamp>1660813407544</timestamp>
    </jenkins.security.LastGrantedAuthoritiesProperty>
  </properties>
</user>