<?xml version='1.1' encoding='UTF-8'?>
<user>
  <version>10</version>
  <id>theo.leben</id>
  <fullName>theo.leben</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <tokenStore>
        <tokenList/>
      </tokenStore>
    </jenkins.security.ApiTokenProperty>
    <io.jenkins.blueocean.autofavorite.user.FavoritingUserProperty plugin="blueocean-autofavorite@1.2.5">
      <autofavoriteEnabled>true</autofavoriteEnabled>
    </io.jenkins.blueocean.autofavorite.user.FavoritingUserProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@1074.v60e6c29b_b_44b_">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty plugin="email-ext@2.87">
      <triggers/>
    </hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty>
    <hudson.plugins.favorite.user.FavoriteUserProperty plugin="favorite@2.3.3">
      <data class="concurrent-hash-map">
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-470%2FSIP-487-front-back-ajouter-remove-une-licence-a-un-utilisateur-page-user</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/feature%2FSIP-469-back-front-5-delete-multi-users</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-446%2FSIP-507-back-lister-les-appareils</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-419-back-add-request-reset-password</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-446-etude-jira-back</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/SIP-505-front-verifier-correspondance-fr-en</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-front/feature%2FSIP-272%2FSIP-290-front-rename-model-attributes</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-506-back-lister-les-utilisateurs</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-474-back-language-error-handling</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/bugfix%2FSIP-538-connection-click-ouverture-popup</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/feature%2FSIP-469-back-front-5-delete-multi-users-2</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/bugfix%2FSIP-512-back-axios-error-is-not-tested-jest</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/bugfix%2FSIP-497-back-bug-creation-d-utilisateur</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/feature%2FSIP-272-front-nomenclature</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/feature%2FSIP-490-formater-date-bouton-refresh-users</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-469-back-front-5-delete-multi-users</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/bugfix%2FSIP-590-back-last-user-isdone-true</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/bugfix%2FSIP-508-regex-script-add_user</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-446%2FSIP-506-lister-les-utilisateurs</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/bugfix%2FSIP-492-retirer-request-sidebar</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-423-creation-table-phonenumber</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-489-front-back-recuperation-et-affichage-dans-un-select-pour-creation-azure-user</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/bugfix%2FSIP-589-back-license-changement-de-dossier-de-routes-license</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-334-back-route-id-user</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/bugfix%2FSIP-591-back-format-schema-de-type-array</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/feature%2FSIP-499-sms-create-chat-header</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/SIP-489-front-back-recuperation-et-affichage-dans-un-select-pour-creation-azure-user</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/feature%2FSIP-504-englober-champs-connexion-mdp-formulaire</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/feature%2FSIP-550-front-employeeId-property</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/bugfix%2FSIP-588-back-verification-schemas</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-469-back-front-5-delete-multi-users-1</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/bugfix%2FSIP-592-front-verifier-toutes-les-fonctions-recherches</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-469-back-front-5-delete-multi-users-2</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-311-back-route-field-modification</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-377-back-create-messages-database-table</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-490-formater-date-bouton-refresh-users</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-389-back-fix-coverage</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/feature%2FSIP-548-assign-manager</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/bugfix%2FSIP-531-front-bug-date-refresh</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-469-back-front-5-delete-multi-users-3</string>
          <boolean>true</boolean>
        </entry>
      </data>
    </hudson.plugins.favorite.user.FavoriteUserProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>all</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty plugin="display-url-api@2.3.5">
      <providerId>default</providerId>
    </org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <jenkins.security.seed.UserSeedProperty>
      <seed>64e9bb9b73caaa45</seed>
    </jenkins.security.seed.UserSeedProperty>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>true</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <jenkins.plugins.slack.user.SlackUserProperty plugin="slack@602.v0da_f7458945d">
      <disableNotifications>false</disableNotifications>
    </jenkins.plugins.slack.user.SlackUserProperty>
    <hudson.model.TimeZoneProperty/>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@408.vd726a_1130320">
      <emailAddress>theo.leben@acensi.fr</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>