<?xml version='1.1' encoding='UTF-8'?>
<user>
  <version>10</version>
  <id>charlene_abelard</id>
  <fullName>charlene.abelard</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <tokenStore>
        <tokenList/>
      </tokenStore>
    </jenkins.security.ApiTokenProperty>
    <io.jenkins.blueocean.autofavorite.user.FavoritingUserProperty plugin="blueocean-autofavorite@1.2.5">
      <autofavoriteEnabled>true</autofavoriteEnabled>
    </io.jenkins.blueocean.autofavorite.user.FavoritingUserProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@1074.v60e6c29b_b_44b_">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty plugin="email-ext@2.87">
      <triggers/>
    </hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty>
    <hudson.plugins.favorite.user.FavoriteUserProperty plugin="favorite@2.3.3">
      <data class="concurrent-hash-map">
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-393-date-refresh</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-front/SIP-326-implementation-tests-jira</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/feature%2FSIP-392-front-board-connexion</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-front/feature%2FSIP-215-front-3-responsive-from-develop</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-432-afficher-la-liste-des-appareils</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-406-back-gestion-admin</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/feature%2FSIP-395-back-front-8-desactiver-un-utilisateur</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/SIP-380-front-sms-chat-list</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-401-back-test-regex</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-405-back-creer-la-route-et-le-service</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-front/feature%2FDDBOOM-43%2FDDBOOM-45-mainPage</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-413-gestion-admin-back</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-395-back-8-desactiver-un-utilisateur</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/feature%2FSIP-264-test-cypress</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/feature%2FSIP-407-front-collapse-resetpassword</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-front/feature%2FSIP-258-front-2-test-unitaire-auth-azuread</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/feature%2FDDBOOM-43%2FDDBOOM-45-mainPage</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-front/feature%2FSIP-252-tu-and-tf</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/feature%2FSIP-380-front-sms-chat-list</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/feature%2FSIP-390-gestion-admin</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/feature%2FSIP-265-front-tests-unitaires-notification</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/feature%2FSIP-392-board-connexion</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/feature%2FSIP-427-design-loginpage</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-405-back-creer-la-route-et-le-service-resetpassword</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-front/feature%2FSIP-324-front-clear-usersazure-cache</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/feature%2FSIP-403-front-create-button-with-popup</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/feature%2FSIP-429-front-5-multiselect</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/feature%2FSIP-428-front-8-tableau-design</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-front/develop</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/feature%2FSIP-393-date-refresh</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-back/feature%2FSIP-402-back-route-create-user-ad</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/feature%2FSIP-391-front-affichage-conditionnel-admin</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-front/feature%2FSIP-264-test-cypress</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/feature%2FSIP-420-front-creer-les-routes</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/SIP-326-implementation-tests-jira</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-front/feature%2FSIP-265-front-tests-unitaires-notification</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>pegasus-refonte/pegasus-front/feature%2FSIP-324-front-clear-usersazure-cache</string>
          <boolean>true</boolean>
        </entry>
      </data>
    </hudson.plugins.favorite.user.FavoriteUserProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>all</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty plugin="display-url-api@2.3.5">
      <providerId>default</providerId>
    </org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <jenkins.security.seed.UserSeedProperty>
      <seed>8b30806685f14959</seed>
    </jenkins.security.seed.UserSeedProperty>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>true</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <jenkins.plugins.slack.user.SlackUserProperty plugin="slack@602.v0da_f7458945d">
      <disableNotifications>false</disableNotifications>
    </jenkins.plugins.slack.user.SlackUserProperty>
    <hudson.model.TimeZoneProperty/>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>#jbcrypt:$2a$10$85HvnDDlqpCNkEUS/AgnxO6JnekOkHbkPsIRms2yHxHiBsSEKWNWq</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@408.vd726a_1130320">
      <emailAddress>charlene.abelard@acensi.fr</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <jenkins.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string>authenticated</string>
      </roles>
      <timestamp>1652102735279</timestamp>
    </jenkins.security.LastGrantedAuthoritiesProperty>
  </properties>
</user>