<?xml version='1.1' encoding='UTF-8'?>
<user>
  <version>10</version>
  <id>matthieu.campagne</id>
  <fullName>matthieu.campagne</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <tokenStore>
        <tokenList/>
      </tokenStore>
    </jenkins.security.ApiTokenProperty>
    <io.jenkins.blueocean.autofavorite.user.FavoritingUserProperty plugin="blueocean-autofavorite@1.2.5">
      <autofavoriteEnabled>true</autofavoriteEnabled>
    </io.jenkins.blueocean.autofavorite.user.FavoritingUserProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@1074.v60e6c29b_b_44b_">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty plugin="email-ext@2.87">
      <triggers/>
    </hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty>
    <hudson.plugins.favorite.user.FavoriteUserProperty plugin="favorite@2.3.3">
      <data class="concurrent-hash-map">
        <entry>
          <string>Acenstream/acenstream-front/feature%2FDDBOOM-370-acenstream-tests-fonctionnels-de-la-page-calendrier</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>Acenstream/acenstream-front/feature%2FDDBOOM-356-permettre-la-diffusion-d-un-media</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>Acenstream/acenstream-back/feature%2FDDBOOM-353-front-back-warning-lors-de-la-supression-d-un-media-ou-playlist</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>Acenstream/acenstream-front/bugfix%2FDDBOOM-331-corriger-la-page-blanche-lors-de-l-acces-a-l-url</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>Acenstream/acenstream-back/bugfix%2FDDBOOM-365-back-bug-blackscreen-sur-le-player-apres-la-suppression-d-un-event-contenant-une</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>Acenstream/acenstream-front/bugfix%2FDDBOOM-401-l-info-du-player-qui-est-en-standby-n-apparait-plus</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>Acenstream/acenstream-front/feature%2FDDBOOM-325-front-modifier-le-temps-de-chaque-media-dans-la-playlist</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>Acenstream/acenstream-back/feature%2FDDBOOM-352-acenstream-mise-en-place-de-logs-sur-le-player</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>Acenstream/acenstream-back/feature%2FDDBOOM-342-fix-erreur-500-lors-de-la-suppression-d-un-device</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>Acenstream/acenstream-front/DDBOOM-424-front-refacto-roles-users-pages-et-blocs-de-styles</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>Acenstream/acenstream-back/feature%2FDDBOOM-368-back-refactorisation-socket</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>Acenstream/acenstream-front/feature%2FDDBOOM-392-front-mise-a-jour-visuelle-de-la-page-d-informations-des-devices</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>Acenstream/acenstream-front/feature%2FDDBOOM-421-recurrence-des-evenements</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>Acenstream/acenstream-back/bugfix%2FDDBOOM-365-back-player-bug-blackscreen-sur-le-player-apres-la-suppression-d-un-event</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>Acenstream/acenstream-back/feature%2FDDBOOM-408-back-front-connexion-azure-ad</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>Acenstream/acenstream-front/feature%2FDDBOOM-333-ajouter-le-bouton-diffuser-sur-la-fenetre-previsualiser-playlists</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>Acenstream/acenstream-front/bugfix%2FDDBOOM-422-front-acenstream-bug-d-affichage-des-players-sur-showplayers-en-prod</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>Acenstream/acenstream-front/bugfix%2FDDBOOM-425-front-events-avec-medias-ne-fonctionnent-pas</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>Acenstream/acenstream-front/feature%2FDDBOOM-390-verification-des-pages-media-apikeys-dashboard-device-et-login</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>Acenstream/acenstream-front/feature%2FDDBOOM-360-recuperer-le-planning-de-diffusion-et-le-jouer</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>Acenstream/acenstream-back/feature%2FDDBOOM-354-front-back-possibilite-de-pouvoir-modifier-une-diffusion-programmee</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>Acenstream/acenstream-front/feature%2FDDBOOM-319-edition-de-l-url-pour-les-medias</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>Acenstream/acenstream-front/feature%2FDDBOOM-342-fix-erreur-500-lors-de-la-suppression-d-un-device</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>Acenstream/acenstream-front/feature%2FDDBOOM-381-acenstream-suppression-en-masse-d-un-media-dans-un-ou-plusieurs-playlists</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>Acenstream/acenstream-front/feature%2FDDBOOM-412-faire-de-microsoft-la-principale-maniere-de-se-connecter</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>Acenstream/acenstream-front/DDBOOM-424-front-refacto-roles-users-pages</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>Acenstream/acenstream-back/bugfix%2FDDBOOM-422-back-acenstream-bug-d-affichage-des-players-sur-showplayers-en-prod</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>Acenstream/acenstream-back/feature%2FDDBOOM-356-permettre-la-diffusion-d-un-media</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>Acenstream/acenstream-front/feature%2FDDBOOM-353-front-back-warning-lors-de-la-supression-d-un-media-ou-playlist</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>Acenstream/acenstream-front/release%2F1.2.0</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>Acenstream/acenstream-front/feature%2FDDBOOM-354-front-back-possibilite-de-pouvoir-modifier-une-diffusion-programmee</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>Acenstream/acenstream-back/feature%2FDDBOOM-360-recuperer-le-planning-de-diffusion-et-le-jouer</string>
          <boolean>true</boolean>
        </entry>
      </data>
    </hudson.plugins.favorite.user.FavoriteUserProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>all</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty plugin="display-url-api@2.3.5">
      <providerId>default</providerId>
    </org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <jenkins.security.seed.UserSeedProperty>
      <seed>382904b7f6c7239e</seed>
    </jenkins.security.seed.UserSeedProperty>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>true</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <jenkins.plugins.slack.user.SlackUserProperty plugin="slack@602.v0da_f7458945d">
      <disableNotifications>false</disableNotifications>
    </jenkins.plugins.slack.user.SlackUserProperty>
    <hudson.model.TimeZoneProperty/>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@408.vd726a_1130320">
      <emailAddress>matthieu.campagne@acensi.fr</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>